/*-----------------------------------------------------FONTS*/

@font-face {
	font-family: 'KarlaReg';
	src: url('../assets/type/karla-reg.ttf') format('truetype');
/*	font-display: swap;*/
}

@font-face {
	font-family: 'KarlaIta';
	src: url('../assets/type/karla-ita.ttf') format('truetype');
/*	font-display: swap;*/
}

@font-face {
	font-family: 'LemonMed';
	src: url('../assets/type/lemon-med.otf') format('opentype');
	font-style: normal;
}


@font-face {
	font-family: 'LemonLight';
	src: url('../assets/type/lemon-light.otf') format('opentype');
	font-style: normal;
}

/*-----------------------------------------------------GLOBAL*/

:root {

	/*--COLOURS--*/

	--color-black: #151519;
	--color-white: #E5E5E5;
	--color-splash: #6363EB;

	/*--FONT TYPE--*/

	--font-type_body-main: 'KarlaReg';
	--font-type_body-ita: 'KarlaIta';
	--font-type_title-lgt: 'LemonLight';
	--font-type_title-med: 'LemonMed';

	/*--FONT SIZE--*/

	--font-size_body: 20px;
	--font-size_titles: 64px;
	--font-size_heading: 45px;
}

html {
	font-size: 12px;
}

* {
	box-sizing: border-box;
}

body {
	background: var(--color-black);
}

main * {
	color: var(--color-white);
}

p,
::placeholder,
button, li, a {
	font-family: var(--font-type_body-main);
}

main {
	display: grid;
	grid-template-areas:
		"landing"
		"about"
		"work"
		"contact";
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr auto 1fr;
}

section {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	padding: 0 1.5vw 0 1.5vw;
}

/*-----------------------------------------------------LOGO*/

#logo_svg {
	position: fixed;
	width: 12vw;
	height: auto;
	transform-origin: center;
	background: none;
	z-index: -1;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/*-----------------------------------------------------NAVIGATION LINKS*/

.nav_links {
	position: relative;
	font-family: 'KarlaReg';
	font-size: clamp(1rem, 1.5vw, 2rem);
	text-transform: uppercase;
	list-style: none;
	letter-spacing: 0.5rem;
}

.nav_links a {
	text-decoration: none;
	transition: .3s ease;
}

.nav_links a:hover {
	color: var(--color-splash);
}

.nav_links a::after {
	background: none repeat scroll 0 0 transparent;
	top: 110%;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	background: var(--color-splash);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.nav_links a:hover::after {
	width: 60%;
}

/*-----------------------------------------------------LANDING */

#landing {
	grid-area: landing;
	grid-template-areas:
		". ."
		". ."
		"nav nav";
}

#landing__nav {
	grid-area: nav;
	align-self: center;
	justify-self: center;
	max-width: 100%;
	position: relative;
}

#landing__nav ul {
	display: block;
	padding: 0;
}

#landing__nav .nav_links {
	display: inline;
	margin: 0 clamp(2px, 1.5vw, 35px);
}

/*-----------------------------------------------------ABOUT */

#about {
	grid-area: about;
	grid-template-areas:
		"title bio"
		"title bio"
		"title bio";
}

#about__title {
	grid-area: title;
	align-self: center;
	padding-left: 5vw;
	width: clamp(400px, 37vw, 800px);
	height: auto;
}

#about__bio {
	grid-area: bio;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

#about__bio__photo {
	align-self: center;
}

#about__bio__photo img {
	width: clamp(200px, 15vw, 300px);
	height: auto;
}

#about__bio__intro {
	justify-self: center;
	max-width: 50ch;
	font-family: 'KarlaReg';
	font-size: clamp(1rem, 1.1vw, 20px);
	line-height: 145.2%;
	padding-left: max(70px, 3vw);
}

#about__bio__intro p::before {
	content: '';
	shape-outside: polygon(0 0, 200px 200px, 0 200px);
	width: 200px;
	height: 200px;
	float: left;
}

/*-----------------------------------------------------WORK */

#work {
	grid-area: work;
	grid-template-areas:
		"links slider"
		"links slider"
		"links slider";
}

#work__links {
	grid-area: links;
	align-self: center;
	justify-self: center;
}

#work__links .nav_links {
	margin-bottom: 30px;
}

#work__slider {
	grid-area: slider;
	justify-self: center;
	align-self: center;
	position: relative;
	width: clamp(400px, 35vw, 675px);
	height: 45vh;
}

#work__slider img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.work__slider__trackContainer.active {
	display: block;
}

.work__slider__trackContainer {
	position: relative;
	height: 100%;
	overflow: hidden;
	border-radius: 0.5rem;
	display: none;
}

.work__slider__track {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	height: 100%;
	transition: transform 250ms ease-in-out;
}

.work__slider__slide {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	transition: opacity 250ms ease-in-out;
}

.work__slider__btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 50px;
	width: 50px;
	border: none;
	z-index: 2;
	background: none;
}

.work__slider__btn.left {
	left: -80px;
}

.work__slider__btn.right {
	right: -80px;
}

.work__slider__btn svg {
	cursor: pointer;
	height: 30px;
	width: 30px;
	fill: var(--color-white);
	transition: fill 250ms ease
}

.work__slider__btn svg:hover {
	fill: var(--color-splash);
}

/*-----------------------------------------------------CONTACT */

#contact {
	grid-area: contact;
	grid-template-areas:
		"title form"
		"title form"
		"title form"
}

#contact__title {
	grid-area: title;
	align-self: center;
	width: clamp(135px, 40%, 300px);
	height: auto;
}

#contact__container {
	grid-area: form;
	display: grid;
	grid-template-areas:
		"desc ."
		"form icons";
	padding-bottom: 100px;
	grid-template-rows: 2fr 1fr;
}


/*--DESCRIPTION--*/

#contact__desc {
	grid-area: desc;
	justify-self: end;
	align-self: end;
	padding-bottom: 50px;
}

#contact__desc p {
	max-width: 40ch;
	text-align: right;
}

/*--FORM--*/

#contact__form {
	grid-area: form;
	align-self: end;
	justify-self: end;
	width: clamp(400px, 25vw, 600px);
}

#contact__form :is(input, textarea, button) {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 2px;
	padding: 4px;
}

#contact__form :is(input, textarea) {
	background: none;
	border: 1px solid var(--color-white);
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#contact__form button {
	margin-bottom: 0;
	background: var(--color-splash);
	border: none;
}

#contact__form :is(input, button) {
	height: 34px;
}

#contact__form textarea {
	height: 200px;
	resize: none;
}

/*--SOCIAL ICONS--*/

#contact__socials {
	display: flex;
	grid-area: icons;
	flex-direction: column;
	justify-content: space-between;
	align-self: end;
	justify-self: end;
/*	padding-left: 30px;*/
	height: 100%;
}

#contact__socials button {
	cursor: pointer;
	border: none;
	background: none;
}

#contact__socials svg {
	width: clamp(20px, 2vw, 50px);
	height: auto;
	fill: var(--color-white);
	transition: fill 250ms ease;
}

#contact__socials svg:hover {
	fill: var(--color-splash);
}

/*-----------------------------------MEDIA QUERIES-----------------------------------*/

@media only screen and (max-width: 844px) {

	/*-----------------------------------------------------ABOUT */

	#about {
		grid-template-areas:
			". title"
			"bio bio"
			". .";
	}

	#about__bio {
		grid-template-rows: 1fr;
		grid-template-areas:
			"intro photo";
	}

	#about__bio__photo {
		grid-area: photo;
		justify-self: center;
		align-self: center;
	}

	#about__bio__intro {
		grid-area: intro;
		justify-self: start;
		align-self: center;
		max-width: 35ch;
		padding: 0 0 0 10px;
		margin: 0;
	}

	#about__bio__intro p::before {
		content: none;
	}

	/*-----------------------------------------------------WORK */

}

@media only screen and (max-width: 706px) {

	/*-----------------------------------------------------ABOUT */

	#logo_svg {
		display: none;
	}

	section {
		grid-template-columns: 1fr;
	}

	#about {
		grid-template-areas:
			"title"
			"bio"
			"bio";
	}

	#about__title {
		justify-self: center;
		align-self: center;
	}

	#about__bio {
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			"photo"
			"intro";
	}

	#about__bio__photo,
	#about__bio__intro {
		align-self: center;
		justify-self: center;
	}

	/*-----------------------------------------------------WORK */

	#work {
		grid-template-areas:
			"links"
			"slider"
			"slider";
	}

	.work__slider__btn.left {
		left: 0;
	}

	.work__slider__btn.right {
		left: 88%;
	}

	/*-----------------------------------------------------CONTACT */

	#contact {
		grid-template-areas:
			"title"
			"form"
			"form";
	}


}
